.fundo-login {
    background-color: #212121;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.login-container {
    background-color: #181818;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    margin-right: 10px;
}

.form-control {
    background-color: #303030;
    border: 1px solid #444;
    color: #fff;
}
.botao-padrao, .btn-lg {     
    width: 100%;
}